.table-head{
    position:fixed;

}
.tbody{
    height: 95%;
}
.panel-body{
    height: 110%;
}
.usersmain{
    margin-left: 210px;
}
.activated:hover {
    color:#FFD777;
    text-shadow:0 0 2px #000;
}