<toaster-container></toaster-container>
<div *ngIf="(role==='ROLE_USER') || (role==='ROLE_MANAGER')" class="image">
	<img src="http://www.mossenbergrealestate.com/mydata/images/Website%20Template%20Side%20Photos/WSP1/WSP1.jpg">
</div>
<div class="panel panel-default top-panel to-right">
	<div class="panel-heading">
		<h4>
			<i class="fa fa-angle-right"></i> {{ 'gas' | translate }}
		</h4>
	<div id="example_filter" class="pull-right dataTables_filter">
			<div style="display: inline-flex"></div>
</div>
</div>
</div>
