<div class="container ">
    <div class="registration-form  center-block" *ngIf="!joinedOsbb">
        <form class="ui form" (ngSubmit)="onSubmitOsbb()" #joinOsbbForm="ngForm">
            <div class="form-header">
                <h3>Приєднатись до ОСББ </h3>
            </div>
            <div class="form-container">
                    <div class="form-group"><label>Select Osbb</label>
                                        <ng-select [allowClear]="true"
                                                   [items]="osbb"
                                                   (selected)="selectedOsbb($event)"
                                                   placeholder="Select Osbb">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="isSelectedOsbb" class="form-group"><label>Select House</label>
                                        <ng-select [allowClear]="true"
                                                   [items]="houses"
                                                   (selected)="selectedHouse($event)"
                                                   placeholder="Select House">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="isSelectedHouse" class="form-group"><label>Select Appartment</label>
                                        <ng-select [allowClear]="true"
                                                   [items]="apartment"
                                                   (selected)="selectedApartment($event)"
                                                   placeholder="Select Appartment">
                                        </ng-select>
                                    </div>
                                    <br>
                    <hr>
            </div>
            <div class="row form-footer">
                <br>
                <div class="col-xs-6">
                    <a class="btn btn-danger col-xs-12" href="javascript:history.back()">Назад</a>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-primary col-xs-12" type='submit' [disabled]="!joinOsbbForm.form.valid" (click)="OnSubmitOsbb()">Вперед</button>
                </div>
            </div>

        </form>
    </div>

</div>