<div class="panel panel-default top-panel to-right">
    <div class="panel-heading">
        <h4>
            <i class="fa fa-angle-right"></i>{{ 'rate' | translate }}
            <tbody>
                <tr *ngFor="let parentBill of bills">
                    <a>
                        <td [routerLink]="['subbill', parentBill.billId]"> {{parentBill.name}} </td>
                        <td [routerLink]="['subbill', parentBill.billId]"> {{parentBill.tariff}} </td>
                    </a>
                </tr>

            </tbody>
        </h4>
        <div id="example_filter" class="pull-right dataTables_filter">
            <div style="display: inline-flex"></div>
        </div>
    </div>
</div>