<div class="ui segment form">
    <utility-form (created)="createUtility($event)" #addForm></utility-form>
</div>
<div class="content">
<breadcrumb [header]="title">
</breadcrumb>
<button (click)="addForm.openModal()" type="button" class="btn btn-primary btn-classic" style="margin:0 -50 0 20">{{'create_utility' | translate | capitalize }}</button>
<section>
    <table class="table">
        <tr>
            <th><span class="glyphicon glyphicon-check" aria-hidden="true"></span></th>
            <th><span class="fa fa-fw fa-sort"></span>{{'name' | translate | capitalize }}</th>
            <th><span class="fa fa-fw fa-sort"></span>{{'price' | translate | capitalize }}</th>
            <th>{{'currency' | translate | capitalize }}</th>
            <th>{{'description' | translate | capitalize }}</th>
            <th>{{'houses' | translate | capitalize }}</th>
            <th>{{'edit' | translate | capitalize }}</th>
            <th>{{'delete' | translate | capitalize }}</th>
        </tr>
        <tr *ngFor="let item of utilities" (click)="showChild()">
            <td><input type="checkbox" class="checkthis" /></td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.priceCurrency}}</td>
            <td>{{item.description}}</td>
            <td ><ul >
                        <li *ngFor="let house of item.houses">{{house.street.name + ' - ' + house.numberHouse}}</li>
                </ul>
            </td>
                
            <td>

                <div class="dropdown">
          <button class="btn btn-default dropdown-toggle"
                  type="button"
                  id="dropdownMenu1"
                  data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="true">
            {{'options' | translate | capitalize }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
              <a (click)="addForm.openModal(item)">{{'add_sub_utility' | translate | capitalize }}</a>
            </li>
            <li>
              <a>{{'edit' | translate | capitalize }}</a>
            </li>
          </ul>
          </div>
            </td>
            <td>
                <p data-placement="top" data-toggle="tooltip" title="Delete">
                    <button class="btn btn-danger btn-xs" (click)="onDelete(item)" data-toggle="modal" data-target="#delete">
               <span class="glyphicon glyphicon-trash"></span>
               {{'delete' | translate | capitalize }}
             </button>
                </p>
            </td>
        </tr>
    </table>
</section>
</div>