<div class="row">
    <div class="col-md-3">
        <p>{{ 'selectFiles' | translate | capitalize }}</p>
        <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br/>
        <div ng2FileDrop [ngClass]="{'nv-file-over': hasDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="well my-drop-zone">
            {{ 'dropZone' | translate | capitalize }}
        </div>
    </div>

    <div class="col-md-9" style="margin-bottom: 40px">
        <table class="table">
            <thead>
                <tr>
                    <th width="30%">{{ 'name' | translate | capitalize }}</th>
                    <th>{{ 'size' | translate | capitalize }}</th>
                    <th>{{ 'status' | translate | capitalize }}</th>
                    <th width="40%">{{ 'actions' | translate | capitalize }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td nowrap>{{ transform(item.file.size) }}</td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" (click)="onUpload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> {{ 'upload' | translate | capitalize }}
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" (click)="onRemove()">
                            <span class="glyphicon glyphicon-trash"></span> {{ 'remove' | translate | capitalize }}
                        </button>
                        <button *ngIf="enableLogoBtn" [disabled]="disabledLogoBtn" type="button" class="btn btn-warning btn-xs" (click)="onLogoChanged(item.file.name)">
                            <span class="glyphicon glyphicon-camera"></span> Logo
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <div>
                {{ 'progress' | translate | capitalize }}:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s" (click)="onUpload()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> {{ 'upload' | translate | capitalize }} {{ 'all' | translate }}
            </button>
            <button type="button" class="btn btn-warning btn-s" (click)="onCancel()" [disabled]="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> {{ 'cancel' | translate | capitalize }} {{ 'all' | translate }}
            </button>
            <button type="button" class="btn btn-danger btn-s" (click)="onRemove()" [disabled]="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> {{ 'remove' | translate | capitalize }} {{ 'all' | translate }}
            </button>
        </div>
    </div>

</div>
