<!-- Page Content -->
<div class="row sb-backdown">
    <div class="panel panel-default pos-top">
        <div class="container">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{'providers' | translate | capitalize}}
                    </h1>
                </div>
            </div>

            <div style="padding-left: 30px;">
                <button type="button" class="btn btn-success" (click)="openCreateModal()">{{ 'create' | translate |
                    capitalize }}
                </button>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div *ngFor="let provider of providers; let isEven = even;">
                        <template [ngIf]="isEven">
                            <div class="col-xs-12">
                                <label class="col-xs-6 text-center"><b
                                        style="font-size: 20px;">{{provider.name}}</b></label>
                            </div>
                            <div class="col-xs-12">
                                <label class="col-xs-6"><b>{{'type' | translate | capitalize}} </b></label>
                                <label class="col-xs-6">{{provider.type.providerTypeName}}</label>
                            </div>
                            <div class="col-xs-12">
                                <label class="col-xs-6"><b>{{'whatwedo' | translate | capitalize}}</b></label>
                                <label class="col-xs-6">{{provider.description}}</label>
                            </div>
                            <address>
                                <div class="col-xs-12">
                                    <label class="col-xs-6"><b>{{ 'address' | translate | capitalize }}</b></label>
                                    <label class="col-xs-6">{{provider.address}}</label>
                                </div>
                            </address>
                            <div class="col-xs-12">
                                <label class="col-xs-6"><b>{{'schedule' | translate | capitalize }}</b></label>
                                <label class="col-xs-6">{{provider.schedule}}</label>
                            </div>
                            <address>
                                <div class="col-xs-12">
                                    <label class="col-xs-6"><b>{{ 'phone' | translate | capitalize}}</b></label>
                                    <label class="col-xs-6">{{provider.phone}}</label>
                                </div>
                            </address>
                            <address>
                                <div class="col-xs-12">
                                    <label class="col-xs-6"><b>{{ 'email' | translate | capitalize}}</b></label>
                                    <label class="col-xs-6"><a href="mailto:#">{{provider.email}}</a></label>
                                </div>
                            </address>
                            <div class="col-xs-12">
                                <label class="col-xs-6"><b>{{ 'periodicity' | translate | capitalize }}</b></label>
                                <label class="col-xs-6">{{provider.periodicity | translate | capitalize}}</label>
                            </div>

                            <div style="padding-left: 30px" class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownProviderLeft"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ 'options' | translate | capitalize }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownProviderLeft">
                                    <li><a style="cursor: pointer" (click)="openEditModal(provider)" class="yellow">{{
                                        'edit' | translate | capitalize }}</a></li>
                                    <li><a style="cursor: pointer" (click)="openDelModal(provider)"
                                           class="red"> {{ 'delete' | translate | capitalize }}</a></li>
                                    <li><a style="cursor: pointer" [routerLink]="['info', provider.providerId]"> {{
                                        'GoToProviderPage' | translate | capitalize }}</a></li>
                                </ul>
                            </div>
                            &nbsp;
                        </template>
                    </div>
                </div>
                <div class="col-md-6">
                    <div *ngFor="let provider of providers; let isOdd = odd; ">
                        <template [ngIf]="isOdd">
                            <div class="col-xs-12">
                                <label class="col-xs-6 text-center"><b
                                        style="font-size: 20px">{{provider.name}}</b></label>
                            </div>
                            <div class="col-xs-12">
                                <label class="col-xs-6"><b>{{'type' | translate | capitalize}} </b></label>
                                <label class="col-xs-6">{{provider.type.providerTypeName}}</label>
                            </div>
                            <div class="col-xs-12">
                                <label class="col-xs-6"><b>{{'whatwedo' | translate | capitalize}}</b></label>
                                <label class="col-xs-6">{{provider.description}}</label>
                            </div>
                            <address>
                                <div class="col-xs-12">
                                    <label class="col-xs-6"><b>{{ 'address' | translate | capitalize }}</b></label>
                                    <label class="col-xs-6">{{provider.address}}</label>
                                </div>
                            </address>
                            <div class="col-xs-12">
                                <label class="col-xs-6"><b>{{'schedule' | translate | capitalize }}</b></label>
                                <label class="col-xs-6">{{provider.schedule}}</label>
                            </div>
                            <address>
                                <div class="col-xs-12">
                                    <label class="col-xs-6"><b>{{ 'phone' | translate | capitalize}}</b></label>
                                    <label class="col-xs-6">{{provider.phone}}</label>
                                </div>
                            </address>
                            <address>
                                <div class="col-xs-12">
                                    <label class="col-xs-6"><b>{{ 'email' | translate | capitalize}}</b></label>
                                    <label class="col-xs-6"><a href="mailto:#">{{provider.email}}</a></label>
                                </div>
                            </address>
                            <div class="col-xs-12">
                                <label class="col-xs-6"><b>{{ 'periodicity' | translate | capitalize }}</b></label>
                                <label class="col-xs-6">{{provider.periodicity | translate | capitalize}}</label>
                            </div>
                            <div style="padding-left: 30px" class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownProviderRight"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ 'options' | translate | capitalize }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownProviderRight">
                                    <li><a style="cursor: pointer" (click)="openEditModal(provider)" class="yellow">{{
                                        'edit' | translate | capitalize }}</a></li>
                                    <li><a style="cursor: pointer" (click)="openDelModal(provider)"
                                           class="red"> {{ 'delete' | translate | capitalize }}</a></li>
                                    <li><a style="cursor: pointer" [routerLink]="['info', provider.providerId]"> {{
                                        'GoToProviderPage' | translate | capitalize }}</a></li>
                                </ul>
                            </div>
                            &nbsp;
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <!-- delete modal-->
        <div bsModal #delModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close"
                                (click)="delModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">{{ 'removing' | translate | capitalize }} ...</h4>
                    </div>
                    <div class="modal-body">
                        <h5>{{ 'confirmDelete' | translate | capitalize }}</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="delModal.hide()">{{ 'no' |
                            translate | capitalize }}
                        </button>
                        <button type="button" class="btn btn-primary" (click)="closeDelModal()">{{ 'yes' |
                            translate | capitalize }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit Modal-->
        <div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close"
                                (click)="editModal.hide(); refresh();">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"> {{ 'edit' | translate | capitalize }}</h4>
                    </div>
                    <form *ngIf="active" (ngSubmit)="onEditProviderSubmit()" #providerForm="ngForm">
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="form-group"><label> {{ 'company' | translate | capitalize
                                    }}</label>
                                    <input type="text" class="form-control" required
                                           [(ngModel)]="selected.name"
                                           name="name" #name="ngModel">
                                    <div [hidden]="name.valid || name.pristine"
                                         class="alert alert-danger">
                                        {{ 'requiredField' | translate | capitalize }}
                                    </div>
                                </div> <!-- Company -->


                                <div *ngIf="selected.name != ''">
                                    <provider-type [type]="selected.type"
                                                   (typeChanged)="setType($event)"></provider-type>
                                    <!-- Type -->
                                </div> <!-- Type -->

                                <div *ngIf="selected.type.providerTypeId != null">
                                    <div class="form-group">
                                        <div>
                                            <label> {{ 'periodicity' | translate | capitalize}} </label>
                                            <div *ngIf="periodicities.length > 0">
                                                <div style="width: 400px; margin-bottom: 20px;">
                                                    <ng-select [allowClear]="true"
                                                               [items]="periodicities"
                                                               (selected)="onSelectPeriodicity($event)"
                                                               (data)="onRefresh($event)"
                                                               placeholder="{{selected.periodicity | translate}}">
                                                    </ng-select>
                                                    <p></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- Periodicity -->

                                <div *ngIf="selected.periodicity != ''">

                                    <div class="form-group">
                                        <label> {{ 'description' | translate | capitalize }}</label>
                                        <textarea class="form-control" required
                                                  name="description" [(ngModel)]="selected.description"
                                                  #description="ngModel"></textarea>
                                        <div [hidden]="description.valid || description.pristine"
                                             class="alert alert-danger">
                                            {{ 'requiredField' | translate | capitalize }}
                                        </div>
                                    </div> <!-- Description -->

                                    <!-- Contacts -->
                                    <div class="form-group">
                                        <label> {{ 'email' | translate | capitalize }}</label>
                                        <input type="text" class="form-control" required
                                               name="email" [(ngModel)]="selected.email"
                                               #email="ngModel"
                                               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                        <div *ngIf="email.errors && email.errors.required  &&  !email.pristine"
                                             class="alert alert-danger">
                                            {{ 'requiredField' | translate | capitalize }}
                                        </div>
                                        <div *ngIf="email.errors && email.errors.pattern &&  !email.pristine"
                                             class="alert alert-danger">
                                            {{ 'mail_format_err' | translate | capitalize }}
                                        </div>
                                    </div> <!-- Email -->

                                    <div class="form-group">
                                        <label> {{ 'phone' | translate | capitalize }}</label>
                                        <input [textMask]="{mask:phoneMask}" class="form-control" name="phone"
                                               [(ngModel)]="selected.phone" type="text"
                                               placeholder="(0__) ___-____" #phone="ngModel" required>
                                        <div [hidden]="phone.valid || phone.pristine"
                                             class="alert alert-danger">
                                            {{ 'requiredField' | translate | capitalize }}
                                        </div>
                                    </div> <!-- Phone -->

                                    <div class="form-group">
                                        <label> {{ 'address' | translate | capitalize }}</label>
                                        <input type="text" class="form-control" required
                                               name="address" [(ngModel)]="selected.address"
                                               #address="ngModel">
                                        <div [hidden]="address.valid || address.pristine"
                                             class="alert alert-danger">
                                            {{ 'requiredField' | translate | capitalize }}
                                        </div>
                                    </div> <!-- Address -->

                                    <div class="form-group">
                                        <label> {{ 'schedule' | translate | capitalize }}</label>
                                        <textarea class="form-control" required
                                                  name="schedule" [(ngModel)]="selected.schedule"
                                                  #schedule="ngModel"></textarea>
                                        <div [hidden]="schedule.valid || schedule.pristine"
                                             class="alert alert-danger">
                                            {{ 'requiredField' | translate | capitalize }}
                                        </div>
                                    </div> <!-- Schedule -->
                                </div>
                            </div>
                        </div>


                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default" [disabled]="!providerForm.form.valid">
                                {{ 'save' | translate | capitalize }}
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!--Create Modal -->
        <div bsModal #createModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close"
                                (click)="createModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"> {{ 'create' | translate | capitalize }}
                        </h4>
                    </div>
                    <form *ngIf="active" (ngSubmit)="onCreateProviderSubmit()" #providerForm="ngForm">
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="logo-pic-sm">
                                            <img src="{{newProvider.logoUrl}}" class="logo-pic-sm">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"><label> {{ 'company' | translate | capitalize
                                            }}</label>
                                            <input type="text" class="form-control" required
                                                   [(ngModel)]="newProvider.name"
                                                   name="name" #name="ngModel">
                                            <div [hidden]="name.valid || name.pristine"
                                                 class="alert alert-danger">
                                                {{ 'requiredField' | translate | capitalize }}
                                            </div>
                                        </div> <!-- Company -->
                                    </div>


                                    <div *ngIf="newProvider.name != ''">
                                        <div class="col-md-6">
                                            <provider-type [type]="newProvider.type"
                                                           (typeChanged)="setType($event)"></provider-type>
                                        </div><!-- Type -->
                                    </div>
                                    <div *ngIf="newProvider.type.providerTypeId != null">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div>
                                                    <label> {{ 'periodicity' | translate | capitalize}} </label>
                                                    <div *ngIf="periodicities.length > 0">
                                                        <div style="width: 400px; margin-bottom: 20px;">
                                                            <ng-select [allowClear]="true"
                                                                       [items]="periodicities"
                                                                       (selected)="onSelectPeriodicity($event)"
                                                                       (data)="onRefresh($event)"
                                                                       placeholder="{{ 'periodicity' | translate}}">
                                                            </ng-select>
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    <!-- Periodicity -->
                                    </div>
                                </div>

                                <div *ngIf="newProvider.periodicity != ''">

                                    <div class="form-group">
                                        <label> {{ 'logo' | translate | capitalize }}</label>
                                        <a (click)="showUploading()">{{ 'upload_logo' | translate | capitalize }}</a>

                                        <div *ngIf="upload" class="task-panel tasks-widget">
                                            <myosbb-attachment [enableLogoBtn]="true"
                                                               (attachmentChanged)="setNewProviderAttachments($event)"
                                                               (logoChanged)="setNewProviderLogo($event)"></myosbb-attachment>
                                        </div> <!-- File uploading -->
                                    </div> <!-- Logo -->

                                    <div class="form-group">
                                        <label> {{ 'description' | translate | capitalize }}</label>
                                        <textarea class="form-control" required
                                                  name="description" [(ngModel)]="newProvider.description"
                                                  #description="ngModel"></textarea>
                                        <div [hidden]="description.valid || description.pristine"
                                             class="alert alert-danger">
                                            {{ 'requiredField' | translate | capitalize }}
                                        </div>
                                    </div> <!-- Description -->

                                    <!-- Contacts -->
                                    <div class="form-group">
                                        <label> {{ 'email' | translate | capitalize }}</label>
                                        <input type="text" class="form-control" required
                                               name="email" [(ngModel)]="newProvider.email"
                                               #email="ngModel"
                                               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                        <div *ngIf="email.errors && email.errors.required  &&  !email.pristine"
                                             class="alert alert-danger">
                                            {{ 'requiredField' | translate | capitalize }}
                                        </div>
                                        <div *ngIf="email.errors && email.errors.pattern && !email.pristine"
                                             class="alert alert-danger">
                                            {{ 'mail_format_err' | translate | capitalize }}
                                        </div>
                                    </div> <!-- Email -->

                                    <div class="form-group">
                                        <label> {{ 'phone' | translate | capitalize }}</label>
                                        <input [textMask]="{mask:phoneMask}" class="form-control" name="phone"
                                               [(ngModel)]="newProvider.phone" type="text"
                                               placeholder="(0__) ___-____" #phone="ngModel" required>
                                        <div *ngIf="phone.errors && phone.errors.required  &&  !phone.pristine"
                                             class="alert alert-danger">
                                            {{ 'requiredField' | translate | capitalize }}
                                        </div>
                                        <div *ngIf="phone.errors && phone.errors.pattern && !phone.pristine"
                                             class="alert alert-danger">
                                            {{ 'phone_format_err' | translate | capitalize }}
                                        </div>
                                    </div> <!-- Phone -->

                                    <div class="form-group">
                                        <label> {{ 'address' | translate | capitalize }}</label>
                                        <input type="text" class="form-control" required
                                               name="address" [(ngModel)]="newProvider.address"
                                               #address="ngModel">
                                        <div [hidden]="address.valid || address.pristine"
                                             class="alert alert-danger">
                                            {{ 'requiredField' | translate | capitalize }}
                                        </div>
                                    </div> <!-- Address -->

                                    <div class="form-group">
                                        <label> {{ 'schedule' | translate | capitalize }}</label>
                                        <textarea class="form-control" required
                                                  name="schedule" [(ngModel)]="newProvider.schedule"
                                                  #schedule="ngModel"></textarea>
                                        <div [hidden]="schedule.valid || schedule.pristine"
                                             class="alert alert-danger">
                                            {{ 'requiredField' | translate | capitalize }}
                                        </div>
                                    </div> <!-- Schedule -->
                                </div>
                                <img src="assets/img/provider-icon.png" class="img-rounded" alt="contract"
                                     width="220"
                                     height="220">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default" [disabled]="!providerForm.form.valid">
                                {{ 'save' | translate | capitalize }}
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div><!-- /content-panel -->
</div>
