<div class="content">
    <breadcrumb [header]="title"></breadcrumb>
    <div *ngIf="!isSubUtilityShow">
        <table class="table table-hover" [mfData]="resData | specArrayFilter:utilityId" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
            <thead>
            <tr>
                <th><mfDefaultSorter by="name"><i class="fa fa-bullhorn"></i> {{'name' | translate | capitalize}}
                </mfDefaultSorter>
                </th>
                <th><mfDefaultSorter by="price"><i class="fa fa-credit-card"></i> {{'price' | translate | capitalize}}
                    </mfDefaultSorter>
                </th>
                <th><mfDefaultSorter by="currency"><i class="fa fa-money"></i> {{'currency' | translate | capitalize}}
                    </mfDefaultSorter>
                </th>
                <th><mfDefaultSorter by="subutilities"><i class="fa fa-bars"></i> {{'subutilities' | translate | capitalize}}
                </mfDefaultSorter>
                </th>
                <th><mfDefaultSorter by="description"><i class="fa fa-edit"></i> {{'description' | translate | capitalize}}
                </mfDefaultSorter>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of mf.data | specArrayFilter:utilityId">
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.priceCurrency}}</td>
                <td>
                    <div *ngIf=" checkIfParent(item.utilityId) ">
                        <span><input type="button" class="btn btn-success"
                                     value="{{'show_subutilities' | translate | myCapitalize}}" (click)="switchMode(item.utilityId)"></span>
                    </div>
                    <div *ngIf=" !checkIfParent(item.utilityId) ">
                        <span><input type="button" class="btn btn-default disabled" value="{{'no_subutilities' | translate | myCapitalize}}"></span>
                    </div>
                </td>
                <td>{{item.description}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div *ngIf="isSubUtilityShow">
        <table class="table table-hover" [mfData]="resData | specArrayFilter:utilityId" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
            <thead>
            <tr>
                <th><mfDefaultSorter by="name"><i class="fa fa-bullhorn"></i> {{'name' | translate | capitalize}}
                </mfDefaultSorter>
                </th>
                <th><mfDefaultSorter by="price"><i class="fa fa-credit-card"></i> {{'price' | translate | capitalize}}
                </mfDefaultSorter>
                </th>
                <th><mfDefaultSorter by="currency"><i class="fa fa-money"></i> {{'currency' | translate | capitalize}}
                </mfDefaultSorter>
                </th>
                <th><mfDefaultSorter by="description"><i class="fa fa-edit"></i> {{'description' | translate | capitalize}}
                </mfDefaultSorter>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of mf.data | specArrayFilter:utilityId">
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.priceCurrency}}</td>
                <td>{{item.description}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
            </tfoot>
        </table>
        <div>
            <button (click)="switchMode(null)" class="btn btn-success" type="button">
                <i class="fa fa-arrow-left"></i> {{'go_back' | translate | myCapitalize}}
            </button>
        </div>
    </div>
</div>