<toaster-container></toaster-container>

<div class="panel panel-default pos-top">
    <div class="panel-heading"><h4><i class="fa fa-angle-right"></i>{{'settings' | translate|capitalize}}</h4>
        <hr style="margin-top:-3px;color:grey; ">
        <div class="row mt" style="margin-bottom:30px">
            <div class="col-lg-12">
                <div class="form-panel" style="width:45%;float:left;margin-left:2%">
                    <h4 class="mb"><i class="fa fa-angle-right">{{'notice'|translate|capitalize}}</i></h4>
                    <form class="form-horizontal style-form" method="get">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label" style="min-width:65%;max-width:65%;">{{'commentChangeStatus'|translate}}</label>
                            <div class="switch has-switch" style="float:right; margin-right:25px"
                                 (click)="changeCreator()">
                                <div [ngClass]="setCreator() ">
                                    <input type="checkbox" data-toggle="switch">
                                    <span class="switch-left">ON</span>
                                    <label>&nbsp;</label>
                                    <span class="switch-right">OFF</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label" style="max-width:65%;min-width:65%">{{'iAssigned'|translate}}</label>
                            <div class="switch has-switch" style="float:right; margin-right:25px"
                                 (click)="changeAssigned()">
                                <div [ngClass]="setAssigned() ">
                                    <input type="checkbox" data-toggle="switch">
                                    <span class="switch-left">ON</span>
                                    <label>&nbsp;</label>
                                    <span class="switch-right">OFF</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label" style="min-width:65%;max-width:65%;">{{'newCommentSetting'|translate}}</label>
                            <div class="switch has-switch" style="float:right; margin-right:25px"
                                 (click)="changeComment()">
                                <div [ngClass]="setComment() ">
                                    <input type="checkbox" data-toggle="switch">
                                    <span class="switch-left">ON</span>
                                    <label>&nbsp;</label>
                                    <span class="switch-right">OFF</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label" style="min-width:65%;max-width:65%;">{{'newAnswerForMyComment'|translate}}</label>
                            <div class="switch has-switch" style="float:right; margin-right:25px"
                                 (click)="changeAnswer()">
                                <div [ngClass]="setAnswer() ">
                                    <input type="checkbox" data-toggle="switch">
                                    <span class="switch-left">ON</span>
                                    <label>&nbsp;</label>
                                    <span class="switch-right">OFF</span>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

                <!--right panel-->
                <div class="form-panel" style="width:45%;float:right;margin-right:3%">
                    <h4 class="mb"><i class="fa fa-angle-right">{{'otherSettings'|translate|capitalize}}</i></h4>
                    <form class="form-horizontal style-form" method="get">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label" style="min-width:65%;max-width:65%;">{{'commentChangeStatus'|translate}}</label>
                            <div class="switch has-switch" style="float:right; margin-right:25px">
                                <div class="switch-animate switch-on">
                                    <input type="checkbox" data-toggle="switch">
                                    <span class="switch-left">ON</span>
                                    <label>&nbsp;</label>
                                    <span class="switch-right">OFF</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label" style="max-width:65%;min-width:65%">{{'iAssigned'|translate}}</label>
                            <div class="switch has-switch" style="float:right; margin-right:25px">
                                <div class="switch-animate switch-on">
                                    <input type="checkbox" data-toggle="switch">
                                    <span class="switch-left">ON</span>
                                    <label>&nbsp;</label>
                                    <span class="switch-right">OFF</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label" style="min-width:65%;max-width:65%;">{{'newCommentSetting'|translate}}</label>
                            <div class="switch has-switch" style="float:right; margin-right:25px">
                                <div class="switch-animate switch-on">
                                    <input type="checkbox" data-toggle="switch">
                                    <span class="switch-left">ON</span>
                                    <label>&nbsp;</label>
                                    <span class="switch-right">OFF</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label" style="min-width:65%;max-width:65%;">{{'newAnswerForMyComment'|translate}}</label>
                            <div class="switch has-switch" style="float:right; margin-right:25px">
                                <div class="switch-animate switch-on">
                                    <input type="checkbox" data-toggle="switch">
                                    <span class="switch-left">ON</span>
                                    <label>&nbsp;</label>
                                    <span class="switch-right">OFF</span>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div><!-- col-lg-12-->
        </div><!-- /row -->

        <button type="button" class="btn btn-theme" style="margin:20px" (click)="save()">{{'save'|translate|capitalize}}</button>
    </div>
</div>