<div class="ui segment form">
    <osbb-modal (created)="createOsbb($event)" (update)="editOsbb($event)" #addForm></osbb-modal>
    <osbb-del-form (delete)="deleteOsbb($event)" #delForm></osbb-del-form>
</div>
<div class="panel panel-default pos-top sb-backdown animated slideInRight ">
    <div class="panel-heading">
        <h4>{{'osbb' | translate}}</h4>
    </div>
    <div class="panel-body animated slideInRight">
        <div class="content-panel">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" (click)="initOsbbArr('All')">{{'osbb_active_all' | translate | capitalize}}
                    </button>
                <button type="button" class="btn btn-default" (click)="initOsbbArr('Available')">{{'osbb_active' | translate | capitalize}}
                    </button>
                <button type="button" class="btn btn-default" (click)="initOsbbArr('NotAvailable')">{{'osbb_not_active' | translate | capitalize}}
                    </button>
            </div>

            <div class="pull-left">
                <button (click)="addForm.openAddModal()" type="button" class="glyphicon glyphicon-plus btn btn-primary "></button>
            </div>
            <div id="example_filter" class="pull-right dataTables_filter">
                <input type="search" class="form-control input-sm" placeholder="{{'searchByName' | translate}}" aria-controls="example" (keyup.enter)="searchByNameOsbb(searchInput.value)"
                    (keyup)="clearSearch(searchInput)" #searchInput>
            </div>
            <table class="table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th><i class=" fa fa-home"></i> {{'logo' | translate | capitalize}}</th>
                        <th class="sorting"><i class="fa fa-bullhorn"> </i> {{'name' | translate | capitalize}}
                            <a style="{cursor:pointer}" (click)="sortBy('name')"><span
                                    class="fa fa-fw fa-sort pull-left"></span></a>
                        </th>
                        <th class="sorting"><i class=" fa fa-edit"></i> {{'description' | translate | capitalize}}</th>
                        <th class="sorting"><i class=" fa fa-edit"></i> {{'adress' | translate | capitalize}}</th>
                        <th class="sorting"><i class=" fa fa-edit"></i> {{'district' | translate | capitalize}}
                            <a style="{cursor:pointer}" (click)="sortBy('district.name')"><span
                                    class="fa fa-fw fa-sort pull-left"></span></a></th>
                        <th class="sorting"><i class=" fa fa-edit"></i> {{'creationDate' | translate | capitalize}}
                            <a style="{cursor:pointer}" (click)="sortBy('creationDate')"><span
                                    class="fa fa-fw fa-sort pull-left"></span></a></th>
                        <th><i class="fa fa-check-square-o"></i> {{'status' | translate | capitalize}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let osbb of osbbArr" [ngClass]="{'success': osbb.available? true:false,
                    'danger': !osbb.available? true:false}">
                        <td><img *ngIf="osbb.logo !== null" src="{{osbb.logo.url}}" alt="empty" height="50" width="60" /></td>
                        <td *ngIf="osbb !== null"><a (click)="redirectToHouseTable(osbb.osbbId)">{{osbb.name}}</a></td>
                        <td>{{osbb.description}}</td>
                        <td>{{composeAddress(osbb)}}</td>
                        <td>{{osbb.district.name}}</td>
                        <td>{{getFormatDate(osbb.creationDate)}}</td> 
                        <td *ngIf="osbb.available"><span class="fa fa-check"></span></td>
                        <td *ngIf="!osbb.available"><span class="fa fa-times"></span></td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                    {{'options' | translate | capitalize}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a style="cursor: pointer" (click)="addForm.openEditModal(osbb)">{{'edit' | translate | capitalize}}</a></li>
                                    <li><a style="cursor: pointer" (click)="delForm.openDelModal(osbb)">{{'delete' | translate | capitalize}}</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>