<div class="panel panel-default top-panel" style="margin-left: 210px">
    <div class="panel-heading"><h4><i class="fa fa-angle-right"></i> {{'events' | translate}}</h4></div>
    <div class="panel-body">
        <div class="content-panel">
            <div class="ui segment form">
                <file-upload-modal (upload)='onUpload($event)' #uploadForm></file-upload-modal>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"
                        [ngClass]="{'active': showAllEvents}"
                        (click)="getEventsByPageNum(pageNumber)">
                        {{'allEvents' | translate | capitalize}}
                </button>
                <button type="button" class="btn btn-default"
                        [ngClass]="{'active': !showAllEvents}"
                        (click)="filterByAuthor()">
                        {{'myEvents' | translate | capitalize}}
                </button>
            </div>
            <div id="example_filter" class="pull-right dataTables_filter">
                <input type="search" class="form-control input-sm" placeholder="{{'search' | translate}}..."
                       #search (keyup)="onSearch(search.value)" aria-controls="example">
            </div>
            <div class="pull-right">
                <span class="label btn-round label-default" id="all" style="cursor:pointer"
                      (click)="getEventsByPageNum(pageNumber)">{{'all' | translate | capitalize}}</span>
                <span class="label btn-round label-danger" id="finished" style="cursor:pointer"
                      (click)="filterByStatus('FINISHED')">{{'finished' | translate | capitalize}}</span>
                <span class="label btn-round label-success" id="inProgress" style="cursor:pointer"
                      (click)="filterByStatus('IN_PROCESS')">{{'in_process' | translate | capitalize}}</span>
                <span class="label btn-round label-info" id="future" style="cursor:pointer"
                      (click)="filterByStatus('FUTURE')">{{'future' | translate | capitalize}}</span>
            </div>
            <table class="table table-striped table-advance table-hover">
                <thead>
                <tr>
                    <th class="sorting"><i class="fa fa-bullhorn"></i> {{'name' | translate | capitalize}}
                        <a style="{cursor:pointer}" (click)="sortBy('title')">
                            <span class="fa fa-fw fa-sort pull-right"></span></a></th>
                    <th class="sorting"><i class="fa fa-calendar-check-o"></i> {{'dateStart' | translate | capitalize}}
                        <a style="{cursor:pointer}" (click)="sortBy('startTime')">
                            <span class="fa fa-fw fa-sort pull-right"></span></a></th>
                    <th class="sorting"><i class="fa fa-calendar-times-o"></i> {{'dateFinish' | translate | capitalize}}
                        <a style="{cursor:pointer}" (click)="sortBy('endTime')">
                            <span class="fa fa-fw fa-sort pull-right"></span></a></th>
                    <th class="sorting"><i class="fa fa-repeat"></i> {{'repeat' | translate | capitalize}}
                        <a style="{cursor:pointer}" (click)="sortBy('repeat')">
                            <span class="fa fa-fw fa-sort pull-right"></span></a></th>
                    <th class="sorting"><i class=" fa fa-user"></i> {{'author' | translate | capitalize}}
                        <a style="{cursor:pointer}" (click)="sortBy('author')">
                            <span class="fa fa-fw fa-sort pull-right"></span></a></th>
                    <th class="sorting"><i class=" fa fa-meh-o"></i> {{'status' | translate | capitalize}}</th>
                    <th class="sorting"><i class="fa fa-bookmark"></i> {{'homePage' | translate | capitalize}}</th>
                    <th class="sorting"><i class=" fa fa-edit"></i> {{'additionalInformation' | translate | capitalize}}</th>
                    <th><i class="fa fa-question-circle"></i> {{'details' | translate | capitalize}}</th>
                </tr>
                </thead>
                <tbody *ngFor="let event of events">
                <tr>
                    <td><a (click)="onNavigate(event.id)">{{event.title}}</a></td>
                    <td>{{formatDate(event.start)}}</td>
                    <td>{{formatDate(event.end)}}</td>
                    <td>{{event.repeat | translate}}</td>
                    <td><a (click)="toUser(event.author.userId)">{{event.author.firstName + " " + event.author.lastName}}</a></td>
                    <td>
                        <div *ngIf="event.status == 'FINISHED'">
                            <span class="label btn-round label-danger">{{event.status.toLowerCase() | translate | capitalize}}</span>
                        </div>
                        <div *ngIf="event.status == 'IN_PROCESS'">
                            <span class="label btn-round label-success">{{event.status.toLowerCase() | translate | capitalize}}</span>
                        </div>
                        <div *ngIf="event.status == 'FUTURE'">
                            <span class="label btn-round label-info">{{event.status.toLowerCase() | translate | capitalize}}</span>
                        </div>
                    <td>
                        <button (click)="onNavigate(event.id)" class="btn btn-primary" type="button"
                                aria-haspopup="true" aria-expanded="true">
                                {{'go_to' | translate | capitalize}}
                        </button>
                    </td>
                    <td>{{event.description}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                    *ngIf="(event.author.userId == currentUser.userId) || (currentUser.userId == 1)">
                                    {{'options' | translate | capitalize}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a style="cursor: pointer" (click)="openEditModal(event)">
                                    {{'edit' | translate |capitalize}} </a></li>
                                <li><a style="cursor: pointer" (click)="openDelModal(event.id)">
                                    {{'delete' | translate| capitalize}}</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Delete Modal-->
            <div bsModal #delModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-label="Close"
                                    (click)="delModal.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-name">{{'removing' | translate | capitalize}} ...</h4>
                        </div>
                        <div class="modal-body">
                            <h5>{{'confirmDelete' | translate | capitalize}}</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)="closeDelModal()">
                                {{'yes' | translate | capitalize}}
                            </button>
                            <button type="button" class="btn btn-default" (click)="delModal.hide()">
                                {{'no' | translate | capitalize}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DeleteAll Modal-->
            <div bsModal #delAllModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-label="Close"
                                    (click)="delAllModal.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-name">{{'removing' | translate | capitalize}} ...</h4>
                        </div>
                        <div class="modal-body">
                            <h5>{{'confirmDeleteEvents' | translate | capitalize}}</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)="closeDelAllModal()">{{'yes' |
                                translate | capitalize}}
                            </button>
                            <button type="button" class="btn btn-default" (click)="delAllModal.hide()">{{'no' |
                                translate | capitalize}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Edit Modal -->
            <div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" style="overflow-y: scroll"
                 aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-label="Close"
                                    (click)="editModal.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-name">{{'edit' | translate | capitalize}}</h4>
                        </div>
                        <form *ngIf="active" (ngSubmit)="onEditEventSubmit()" #eventForm="ngForm">
                            <div class="modal-body">
                                <div class="form-group"><label>{{'name' | translate | capitalize}}</label>
                                    <input type="text" class="form-control" required [(ngModel)]="selectedEvent.title"
                                           name="title" #title="ngModel">
                                    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                                        {{'required' | translate | capitalize}}
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>{{'dateStart' | translate | capitalize}}</label>
                                    <input type="datetime-local" value="yyyy-MM-dd hh:mm" class="form-control" required
                                           name="start" [(ngModel)]="selectedEvent.start" #start="ngModel">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>{{'dateFinish' | translate | capitalize}}</label>
                                    <input type="datetime-local" value="yyyy-MM-dd hh:mm" class="form-control"
                                           [disabled]="!start.valid" name="end"
                                           [(ngModel)]="selectedEvent.end" #end="ngModel">
                                </div>

                                <div>
                                    <div class="form-group">
                                        <div>
                                            <label> {{'repeat' | translate | capitalize}} </label>
                                            <div *ngIf="repeat.length > 0">
                                                <div style="width: 400px; margin-bottom: 20px;">
                                                    <ng-select [allowClear]="true"
                                                               [items]="repeat"
                                                               (selected)="onSelectRepeat($event)"
                                                               placeholder="{{selectedEvent.repeat | translate}}">
                                                    </ng-select>
                                                    <p></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>    <!-- Repeat -->

                                <div class="form-group">
                                    <label>{{'additionalInformation' | translate | capitalize}}</label>
                                    <input type="text" class="form-control"
                                           name="description" [(ngModel)]="selectedEvent.description"
                                           #description="ngModel">
                                </div>

                                <div>
                                    <label>{{'attachments' | translate | capitalize}}</label><br>
                                    <button type="button" class="btn btn-success"
                                            (click)="uploadForm.openUploadModal()">
                                            {{'upload' | translate | capitalize}} {{'file' | translate}}
                                    </button>
                                </div>

                                <div class="row" style="margin-top: 20px">
                                    <div *ngFor="let attachment of selectedEvent.attachments" class="col-sm-3">
                                        <div class="thumbnail">
                                            <i class="close col-sm-2" (click)="removeAttachment(attachment)">×</i>
                                            <img [src]="getPreview(attachment)" class="img-responsive"
                                                 style="width:100px;height:80px">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default"
                                        [disabled]="!eventForm.form.valid || !isDateValid(selectedEvent.start, selectedEvent.end)">
                                    {{'save' | translate | capitalize}}
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!--Create Modal -->
        <div bsModal #createModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" style="overflow-y: scroll"
             aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close"
                                (click)="createModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-name">{{'createEvent' | translate | capitalize}}</h4>
                    </div>
                    <form *ngIf="active" (ngSubmit)="onCreateEventSubmit()" #eventForm="ngForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>{{'name' | translate | capitalize}}</label>
                                <input type="text" class="form-control" required [(ngModel)]="newEvent.title"
                                       name="title" #title="ngModel" tabindex="1"
                                       placeholder="{{'name' | translate | capitalize}} {{'events' | translate}}">
                                <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                                    {{'required' | translate | capitalize}}
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label>{{'dateStart' | translate | capitalize}}</label>
                                <input type="datetime-local" value="yyyy-MM-dd hh:mm" class="form-control" required
                                       name="start" [(ngModel)]="newEvent.start" #start="ngModel">
                            </div>

                            <div class="form-group col-md-6">
                                <label>{{'dateFinish' | translate | capitalize}}</label>
                                <input type="datetime-local" value="yyyy-MM-dd hh:mm" class="form-control"
                                       [disabled]="!start.valid" name="end" [(ngModel)]="newEvent.end" #end="ngModel">
                            </div>

                            <div>
                                <div class="form-group">
                                    <div>
                                        <label> {{'repeat' | translate | capitalize}} </label>
                                        <div *ngIf="repeat.length > 0">
                                            <div style="width: 400px; margin-bottom: 20px;">
                                                <ng-select [allowClear]="true"
                                                           [items]="repeat"
                                                           (selected)="onSelectRepeat($event)"
                                                           placeholder="{{'repeat' | translate}}">
                                                </ng-select>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    <!-- Repeat -->

                            <div class="form-group">
                                <label>{{'additionalInformation' | translate | capitalize}}</label>
                                <input type="text" class="form-control"
                                       name="description" [(ngModel)]="newEvent.description"
                                       #description="ngModel">
                            </div>

                            <div>
                                <label>{{'attachments' | translate | capitalize}}</label><br>
                                <button type="button" class="btn btn-success"
                                        (click)="uploadForm.openUploadModal()">
                                        {{'upload' | translate | capitalize}} {{'file' | translate}}
                                </button>
                            </div>

                            <div class="row" style="margin-top: 20px">
                                <div *ngFor="let attachment of newEvent.attachments" class="col-sm-3">
                                    <div class="thumbnail"><i class="close col-sm-2"
                                                              (click)="removeAttachment(attachment)">×</i>
                                        <img [src]="getPreview(attachment)" class="img-responsive"
                                             style="width:100px;height:80px">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default"
                                    [disabled]="!eventForm.form.valid || !isDateValid(newEvent.start, newEvent.end)">
                                    {{'save' | translate | capitalize}}
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <nav class="pull-right" aria-label="Page navigation">
            <ul class="pagination">
                <li [ngStyle]="{'display': pageNumber == 1? 'none' : ''}">
                    <a (click)="prevPage()" style="cursor: pointer" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li [ngClass]="{'active': num == pageNumber}" *ngFor="let num of pageList">
                    <a style="cursor: pointer" (click)="getEventsByPageNum(num)">{{num}}</a></li>
                <li [ngStyle]="{'display': pageNumber == totalPages? 'none' : ''}">
                    <a (click)="nextPage()" style="cursor: pointer" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div>
            <button type="button" class="btn btn-success" (click)="openCreateModal()">
                {{'create' | translate | capitalize}}
            </button>
            <button type="button" class="btn btn-danger" (click)="openDelAllModal()"
                    *ngIf="(currentUser.userId == 1) || showAllEvents">
                {{'delete' | translate | capitalize}} {{'all' | translate}}
            </button>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="loader" *ngIf="pending"></div>
</div>