<div class="content">
  <breadcrumb [header]="title"></breadcrumb>
  <div class="pull-right">
    <button type="button" class="btn btn-success btn-foot" (click)="openCreateModal()">
          {{'Create Apartment'| capitalize}}
    </button>


  </div>
  <section>
    <table class="table">
      <tr>
        <th>Street</th>
        <th>City</th>
        <th>Number</th>
        <th>Square</th>
        <th>Options</th>
        <!--<th>Osbb</th>
            <th>Home page</th>
            <th>Add. info</th></tr>-->
        <tr *ngFor="let item of resData">
          <td>{{item.house.street.name}}</td>
          <td>{{item.house.street.city.name}}</td>
          <td>{{item.number}}</td>
          <td>{{item.square}}</td>
          <td>
            <ul>
              <li>Edit</li>
              <li>Delete</li>
            </ul>
          </td>
          <!--<td>{{item.osbbName}}</td>
            <td><input type="button" class="btn" value="Go to"(click)="onNavigate(item.houseId)"></td>
            <td>{{item.description}}</td>-->
        </tr>
    </table>
  </section>

</div>

<div bsModal #createModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="createModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"> {{ 'create' | capitalize }}
        </h4>
      </div>
      <form (ngSubmit)="onCreateContractSubmit()" #contractForm="ngForm">
        <div class="modal-body">
          <div>
            <div class="form-group">
              <label>{{ 'choose_house' | translate | myCapitalize}}</label>
              <!--<ng-select [items]="houses" (selected)="selectedHouse($event)" placeholder="{{ 'choose' | translate | myCapitalize}}">
                            </ng-select>-->
              <!--<select class="form-control" formControlName="house">
                    <option *ngFor="let house of houses" [value]="house">{{house.number}}</option>
                </select>-->
              <select [ngModel]="house" (ngModelChange)="onChangeHouse($event)" name="sel3">
                <option [ngValue]="i" *ngFor="let i of houseList">{{i.numberHouse}}, вул. {{i.street.name}}</option>
             </select> {{house | json}}
            </div>
            <div class="form-group">
              <label for="appart_num">
                {{ 'Apartment number' | capitalize }}
              </label>
              <input [(ngModel)]="userApartment.apartment.number" type="number" class="form-control" id="appart_num" required name="appart_num" min="1" step="1">
            </div>
            <div class="form-group">
              <label for="square">
                {{ 'Apartment square' | capitalize }}
              </label>
              <input [(ngModel)]="userApartment.apartment.square" type="number" class="form-control" id="square" required name="square" min="10">
            </div>
            <div class="form-group">
              <label for="firstname">
                {{ 'User firstname' | capitalize }}
              </label>
              <input [(ngModel)]="userApartment.userRegitrationByAdminDTO.firstName" type="text" class="form-control" id="firstname" required name="firstname">
            </div>

            <div class="form-group">
              <label for="lastname">
                {{ 'User lastname' | capitalize }}
              </label>
              <input [(ngModel)]="userApartment.userRegitrationByAdminDTO.lastName" type="text" class="form-control" id="lastname" required name="lastname">
            </div>

            <div class="form-group">
              <label for="email">
                {{ 'User email' | capitalize }}
              </label>
              <input [(ngModel)]="userApartment.userRegitrationByAdminDTO.email" type="email" class="form-control" id="email" required name="email">
            </div>
            <div class="form-group">
              <label for="phone">
                {{ 'User phone' | capitalize }}
              </label>
              <input [textMask]="{mask:phoneMask}" [(ngModel)]="userApartment.userRegitrationByAdminDTO.phoneNumber" type="text" class="form-control" id="phone" required name="phone">
            </div>
             <div class="form-group">
              <label>{{ 'select_ownership' | translate | myCapitalize}}</label>
              <select [(ngModel)]="userApartment.userRegitrationByAdminDTO.ownership"  name="selOwnership">
                <option>OWNER</option>
                <option>SUBOWNER</option>
                <option>RENTER</option>
             </select>
            </div>
            {{userApartment | json}}
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default">
            {{ 'save' | capitalize }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>