<div class="content">
  <breadcrumb [header]="title"></breadcrumb>
  <div class="wrapper">
      <div id="chatbox" class="form-control" >
        <div *ngFor="let response of serverResponse"  class="response" >
          <span > <b> {{response.timestamp  | date: 'short' }}: </b> </span> 
          <span > {{response.content}} </span>
        </div>
      </div>
      <div>
        <label>Enter message:</label>
        <textarea name="inputField" [(ngModel)]="inputField" class="form-control"> </textarea>
        <br />
        <button class="btn btn-primary" (click)="send()">Send message</button>
      </div>
  </div>
</div>