.floating-box {
    display: inline-block;
    width: 160px;
    height: 64px;  
}

.folder-icon {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.folder-name {
    padding: 8px;
    display: inline-block;
    width: 90px;
    height: 64px;
    word-wrap: break-word; 
    font-size: 12px;
    text-overflow: ellipsis;
    vertical-align: top;  
}

.header-cell {
    padding-left:12px;
}

.ng-invalid {
    border: 1px solid red;
}

.center-content {  
  display: block;  
  margin: auto; 
}
