<br>
<br>
<div class="content">
    <div class="panel-body">
        <div class="col-md-6">
            <div class="text-center">
                <img src="assets/img/apartment.png" class="img-rounded" alt="my_apartment" width="304" height="236">
            </div>
        </div>
        <br>
        <div class="col-md-6">
            <ul *ngFor="let c of apartment">
                <h3><b>{{ 'my_apartment' | translate | capitalize }}</b></h3>
                <li><b>{{ 'osbb' | translate | capitalize }}:  {{c.house.osbb.name}}</b></li>
                <br>
                <li><b> {{ 'city' | translate | capitalize }}: {{c.house.street.city.name}}</b></li>
                <br>
                <li><b> {{ 'street' | translate | capitalize }}: {{c.house.street.name}}</b></li>
                <br>
                <li><b>{{ 'house' | translate | capitalize }} № {{c.house.numberHouse}}</b></li>
                <br>
            </ul>
        </div>
        <div *ngIf="owner" class="col-md-12">
            <div class="col-md-6">
                <ul>
                    <h4>{{ 'owner' | translate | capitalize }}</h4>
                    <br>
                    <li><b> {{ 'PIB' | translate | capitalize }}: {{owner.firstName}} {{owner.lastName}}</b></li>
                    <br>
                    <li><b> {{ 'email' | translate | capitalize }}: {{owner.email}}</b></li>
                    <br>
                    <li><b> {{ 'phoneNumber' | translate | capitalize }}: {{owner.phoneNumber | phone_number}}</b></li>
                    <br>
                    <li><b> {{ 'gender' | translate | capitalize }}: {{owner.gender}}</b></li>
                    <br>
                </ul>
            </div>
            <div *ngIf="owner.photoId" class="col-md-6">
                <img [src]="imgUrl" class="img-rounded avatar resize" alt="my_avatar">
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <tr>
            <th>{{ 'nameUser' | translate | capitalize }}</th>
            <th> {{ 'last_name' | translate | capitalize }}</th>
            <th> {{ 'phoneNumber' | translate | capitalize }}</th>
            <th>{{ 'email' | translate | capitalize }}</th>
            <th> {{ 'gender' | translate | capitalize }}</th>
        </tr>
        <tr *ngFor="let c of users" class="info">
            <td>{{c.firstName}}</td>
            <td>{{c.lastName}}</td>
            <td>{{c.phoneNumber | phone_number}}</td>
            <td>{{c.email}}</td>
            <td>{{c.gender}}</td>
        </tr>
    </table>
</div>