.avatar {
    margin-top: 1em;
    margin-right: 1em;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #999, 0 5px 15px 12px rgba(0, 0, 0, .2);
}

img.resize {
    height: 200px;
    width: auto;
}