<div bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <file-upload-modal (upload)='onUpload($event)' #uploadForm></file-upload-modal>

        <div class="modal-content" [ngFormModel]="creatingForm">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="addModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{'createTicket'|translate}}</h4>
            </div>

            <div class="modal-body">
                <div class="form-group" [ngClass]="{'has-error' : submitAttempt && !nameInput.valid }">
                    <textarea class="form-control" [(ngModel)]="nameTicket" type="text" name="name"
                              placeholder="Enter name" ngControl="nameInput" required></textarea>
                    <div class="alert alert-danger" *ngIf="submitAttempt && isEmptyName()  ">
                        {{'nameErrorTicket'|translate}}
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error' :  submitAttempt && !descriptionInput.valid}">
                    <textarea class="form-control" style="min-height:150px; min-weight:300px"
                              [(ngModel)]="descriptionTicket" type="text" name="description"
                              placeholder="Enter description " ngControl="descriptionInput" required></textarea>
                    <div class="alert alert-danger"
                         *ngIf="submitAttempt && isEmptyDescription()  ">
                        {{'descrErrorTicket'|translate}}
                    </div>
                    <br>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error' : isFindAssign() && submitAttempt && !assignInput.valid }">
                    <input class="form-control" type="text" name="assign" list="assign" [(ngModel)]="assignTicket"
                           placeholder="Enter user name" (keyup)="assign.value" #assign ngControl="assignInput">
                    <div class="alert alert-danger" *ngIf="submitAttempt && !isFindAssign()">
                        {{'assignErrorTicket'|translate}}
                    </div>
                    <datalist id="assign">
                        <ul>
                            <option *ngFor="let user of userAssignArr|ticketFilter:assign.value">
                                <li>{{user.firstName}} {{user.lastName}}</li>
                            </option>
                        </ul>
                    </datalist>
                </div>
                <div>
                    <label type="button" class="label label-info"
                            (click)="uploadForm.openUploadModal()">
                        {{'upload' | translate  }} {{'file' | translate}}</label>
                </div>

                 <div>
                        <div  style=" width:100%; height:1px; clear:both;"></div>

                          <div class="attachmetTicketEdit" *ngFor="let attachment of attachments" >
                                        <button style="margin:-3px;margin-left:2px;padding:-3px;padding-right:0px" type="button"
                                        class="close" data-dismiss="alert" (click)="deleteAttachmet(attachment)" aria-hidden="true">×</button>
                                        <img src="{{attachment.url}}"  alt="{{attachment.fileName}}" height="50" width="50">
                                    </div>
                            <div  style=" width:100%; height:1px; clear:both;"></div>

                                </div>
            </div>
            <div class="modal-footer">
                <button style="float: right; width: 20%;" type="button"
                        (click)="toggleSubmitAttempt();onCreateTicket();  " class="btn btn-primary">
                    {{'createTickModal'|translate}}
                </button>

                <button style="float: right; width: 20%; margin-right:15px" type="button" (click)=" closeAddModal(); "
                        class="btn btn-default">
                    {{'cancel'|translate}}
                </button>
            </div>


        </div>
    </div>
</div>