<div class="page-content ticket" >
  <div class="container-fluid">
    <breadcrumb [header]="title"></breadcrumb>
    <button class="btn btn-success"
            (click)="addForm.openAddModal()">
      {{'create_ticket' | translate | myCapitalize}}
    </button>
     <!--<file-upload-modal (upload)='onUpload($event)' #uploadForm></file-upload-modal>-->
     <ticket-add-form (created)="createTicket($event)" #addForm></ticket-add-form>
     <ticket-edit-form (update)="editTicket($event)"  #editForm></ticket-edit-form>
     <ticket-del-form (delete)="deleteTicket($event)" #delForm></ticket-del-form>
    <div class="col-md-2 pull-right ticket_search-box">
      <input type="search"
             (keyup)="findTicketByName(findName.value)"
             #findName
             class="form-control input-sm"
             placeholder="find..."
             aria-controls="example">
    </div>
  </div>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="table-size-large">
          <i class="fa fa-bullhorn"></i>
            {{'nameTicket' | translate}}
          <a (click)="('name')">
            <span class="fa fa-fw fa-sort"></span>
          </a>
        </th>
        <th class="table-size-medium">
          <i class=" fa fa-edit"></i>
          {{'authorTicket' | translate}}
          <a (click)="('user')">
            <span class="fa fa-fw fa-sort"></span>
          </a>
        </th>
        <th class="table-size-big">
          <i class=" fa fa-edit"></i>
            {{'dateTicket' | translate}}
          <a (click)="('time')">
            <span class="fa fa-fw fa-sort"></span>
          </a>
        </th>
        <th class="table-size-medium">
          <i class=" fa fa-edit"></i>
            {{'answer' | translate}}
          <a (click)="('assigned')">
            <span class="fa fa-fw fa-sort"></span>
          </a>
        </th>
        <th class="table-size-small">
          <i class=" fa fa-edit"></i>
            {{'state' | translate}}
          <a (click)="('state')">
            <span class="fa fa-fw fa-sort"></span>
          </a>
        </th>
        <th class="table-size-small">
          <i class=" fa fa-edit"></i>
            {{'discussed' | translate}}
        </th>
      </tr>
      </thead>
    <tbody>
      <tr *ngFor="let item of resData">
        <td>
          <a class="ticket_first-row-data"
             (click)="subTicketNavigation(item.ticketId)">
            {{item.name | translate}}
          </a>
        </td>
        <td class="table-text-align" >
          {{item.user.firstName | translate}}
          {{item.user.lastName | translate}}
        </td>
        <td class="table-text-align" >
          {{item.time | date:'mediumDate'}}
        </td>
        <td class="table-text-align" >
          {{item.assigned.firstName | translate}}
          {{item.assigned.lastName | translate}}
        </td>
        <td class="state-column table-text-align" >
          <div *ngIf=" item.state == 'NEW' || item.state == '0'">
            <span class="label btn-round label-info "
                  list="assign">{{ 'new' | translate}}
            </span>
          </div>
          <div *ngIf=" item.state == '1' || item.state == 'IN_PROGRESS'">
            <span class="label btn-round label-success">{{ 'in_progress' | translate }}</span>
          </div>
          <div *ngIf=" item.state == '2' || item.state == 'DONE'">
            <span class="label btn-round label-danger">{{ 'done' | translate}}</span>
          </div>
        </td>
        <td class="table-text-align">
          <div *ngIf="item.discussed == null">
            {{ 'no' | translate}}
          </div>
          <div *ngIf="item.discussed != null">
            {{ 'yes' | translate}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container-fluid">
  <div class="row ticket_footer-btn-group">
    <div class="ticket_span-group">
      <span class="label
                   btn-round
                   label-danger
                   ticket_span-btn-group"
            (click)="findTicketByState('DONE')">{{'done' | translate}}</span>
      <span class="label
                   btn-round
                   label-success
                   ticket_span-btn-group"
            (click)="findTicketByState('IN_PROGRESS')">{{ 'in_progress' | translate}}</span>
      <span class="label
                   btn-round
                   label-info
                   ticket_span-btn-group"
            (click)="findTicketByState('NEW')">{{'new' | translate}}</span>
    </div>
    <div class="btn-group
                pull-right
                ticket_btn-find-group"
         role="group"
         aria-label="...">
      <button type="button"
              (click)="getTicketsByPageNum()"
              class="btn btn-default">
        {{'all' | translate | myCapitalize }} 
      </button>
      <button type="button"
              (click)="findMyTickets()"
              class="btn btn-default">
        {{'my_tickets' | translate | myCapitalize }}
      </button>
      <button type="button"
              (click)="findMyAssigned()"
              class="btn btn-default">
       {{'my_assign' | translate | myCapitalize}}
      </button>
    </div>
  </div>
  </div>
</div>



