<toaster-container></toaster-container>
<div class="container">
    <div class="row animated  zoomIn ">
        <div class="col-md-12">
            <div class="registration-form  center-block" *ngIf="IsRegistered">
                <form class="ui form " (ngSubmit)="onSubmitUser(newUser.status)" #registerForm="ngForm">
                    <div class="form-header">
                        <h3>{{'user_registration'| translate | capitalize }}</h3>
                    </div>
                    <div class="form-container">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>{{'first_name'| translate | capitalize }}</label>
                                <input [textMask]="{mask:textmask,guide:false}" class="form-control placeholder-no-fix"
                                       name="firstName" [(ngModel)]="newUser.firstName"
                                       placeholder="{{'enter_name'| translate | capitalize }}" type="text"
                                       maxlength="35" required>
                            </div>

                            <div class="col-xs-6">
                                <label>{{'last_name'| translate | capitalize }}</label>
                                <input [textMask]="{mask:textmask,guide:false}" class="form-control placeholder-no-fix"
                                       name="lastName" [(ngModel)]="newUser.lastName"
                                       placeholder="{{'enter_last_name'| translate | capitalize }}" type="text"
                                       maxlength="35" required>
                            </div>
                        </div>
                                  <div class="form-group"><label>{{ 'choose your gender' | translate | capitalize }}</label>
                                    <ng-select [allowClear]="true" [items]="genders" (selected)="selectedGender($event)" (removed)="removedGender()" placeholder="{{ 'choose' | translate | capitalize }}">
                                    </ng-select>
                                </div>            
                        <div class="row">
                            <div class="col-xs-12">
                                <label>{{'email'| translate | capitalize }}</label>

                                <input [textMask]="{mask:emailMask}" class="form-control placeholder-no-fix"
                                       name="email" [(ngModel)]="newUser.email"
                                       placeholder="{{'enter_email'| translate | capitalize }}" type="email"
                                       maxlength="50" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">

                                <label>{{'phone_number'| translate | capitalize}}</label>
                                <input [textMask]="{mask:phoneMask}" class="form-control" name="phoneNumber"
                                       [(ngModel)]="newUser.phoneNumber" type="text"
                                       placeholder="+38(___)___-____" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">

                                <label>{{'birthday'| translate | capitalize}}</label>
                                <input class="form-control" name="birthDate" [(ngModel)]="newUser.birthDate"
                                       (blur)="checkDate()" type="date" required>
                                <div class="col-xs-12 centered">
                                    <label style="color: red" *ngIf='birthDateError' class="error" disabled=true>{{'errorBirthDateMsg'|
                                        translate | capitalize}}</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <label>{{'password'| translate | capitalize}}</label>
                                <input class="form-control placeholder-no-fix col-xs-6" name="password"
                                       [(ngModel)]="newUser.password"
                                       (blur)="confirmPassLength()"
                                       placeholder="{{'enter_pass'| translate | capitalize}}"
                                       type="password"
                                       minlength="4" maxlength="16" required>
                                       
                                <div class="col-xs-12 centered">
                                    <label style="color: red" *ngIf='lengthError' class="error" disabled=true>{{'passLengthError'|
                                        translate | capitalize}}</label>
                                    <label style="color: red" *ngIf='!lengthError && matchError && checkOnUserPassword'
                                           class="error" disabled=true>{{'passMatchError'| translate |
                                        capitalize}}</label>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label>{{'confirm_pass'| translate | capitalize}}</label>
                                <input class="form-control placeholder-no-fix col-xs-6" [(ngModel)]="confirmPassword"
                                       name="confirmPassword" (blur)="matchCheck()"
                                       placeholder="{{'confirm_pass'| translate | capitalize}}"
                                       type="password" minlength="4" maxlength="16" required>
                                       
                                <div class="col-xs-12 centered">
                                    <label style="color: red" *ngIf='!checkOnUserPassword && matchError' class="error"
                                           disabled=true>{{'passMatchError'| translate | capitalize}}</label>
                                </div>
                            </div>
                            <br>
                        </div>


                    </div>
                    <div class="row form-footer">
                        <hr>
                        <br>
                        <div class="col-xs-6">
                            <a class="btn btn-danger col-xs-12" href="javascript:history.back()">{{ 'cancel' | translate
                                | capitalize }}</a>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-primary col-xs-12" type='submit'
                                    [disabled]="!registerForm.form.valid || birthDateError || lengthError || matchError || !isSelectGender">
                                {{ 'next' | translate | capitalize }}
                            </button>
                        </div>
                    </div>

                </form>
            </div>

            <!--------------------------------------Registration Osbb------------------------------------------------------>

            <div class="registration-form  center-block" *ngIf="IsRegisteredOsbb">
                <form class="ui form" (ngSubmit)="onSubmitOsbb()" #registerOsbbForm="ngForm">
                    <div class="form-header">
                        <h3>Реєстрація ОСББ</h3>
                    </div>
                    <div class="form-container">
                            <div class="row">
                                <div class="col-xs-12">

                                    <label>Назва</label>
                                    <input class="form-control placeholder-no-fix" name="name"
                                           [(ngModel)]="newOsbb.name" type="text" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label>Описання</label>
                                    <input class="form-control placeholder-no-fix" name="descrption"
                                           [(ngModel)]="newOsbb.description" type="text" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label>Адрес</label>
                                    <input class="form-control placeholder-no-fix" name="address"
                                           [(ngModel)]="newOsbb.address" type="text" (setAddress)="getAddress($event)"
                                           googleplace required>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">


                                    <label>Район</label>
                                    <input class="form-control placeholder-no-fix" name="district"
                                           [(ngModel)]="newOsbb.district" type="text" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">

                                    <label>Посилання на фото дому</label>
                                    <input class="form-control placeholder-no-fix" name="logoUrl"
                                           [(ngModel)]="newOsbb.logoUrl" type="text">
                             
                                    <div class="text-xs-center">
                                        <br>
                                        <img src="{{newOsbb.logoUrl}}" class="img-rounded" style="height: auto; max-height: 300px; max-width: 300px;display: block;
              margin: 0 auto; ">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <hr>        
                    <div class="row form-footer">
                        <br>
                        <div class="col-xs-6">
                            <a class="btn btn-danger col-xs-12" (click)="Back()">Назад</a>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-primary col-xs-12" type='submit'
                                    [disabled]="!registerOsbbForm.form.valid">Вперед
                            </button>
                        </div>
                    </div>
                        </div>

                </form>
            </div>
            <!--------------------------------------Join Osbb------------------------------------------------------>


            <div class="registration-form  center-block" *ngIf="isJoinedOsbb">
                <form class="ui form" (ngSubmit)="onSubmitJoin()" #joinOsbbForm="ngForm">
                    <div class="form-header">
                        <h3>{{ 'join_osbb' | translate | capitalize }} </h3>
                    </div>
                    <div class="form-container">
                        <div class="form-group"><label>{{ 'choose your region' | translate | capitalize }}</label>
                            <ng-select [items]="regions" (selected)="selectedRegion($event)" placeholder="{{ 'choose' | translate | capitalize }}">
                            </ng-select>
                        </div>

                        <div class="form-group"><label>{{ 'choose your city' | translate | capitalize }}</label>
                            <ng-select [items]="cities" (selected)="selectedCity($event)" placeholder="{{ 'choose' | translate | capitalize }}">
                            </ng-select>
                        </div>

                        <div class="form-group"><label>{{ 'choose your street' | translate | capitalize }}</label>
                            <ng-select [items]="streets" (selected)="selectedStreet($event)" placeholder="{{ 'choose' | translate | capitalize }}">
                            </ng-select>
                        </div>

                        <div class="form-group"><label>{{ 'choose_house' | translate | capitalize }}</label>
                            <ng-select [items]="houses" (selected)="selectedHouse($event)" placeholder="{{ 'choose' | translate | capitalize }}">
                            </ng-select>
                        </div>
                        
                         <div class="modal-body" >

                            <p class="noselect" ><strong>{{captcha}}</strong></p>

                            <input class="captcha" type="text" placeholder="{{ 'captcha' | translate | capitalize }}" (keyup)="initTextUser($event)">
                            <a class="refresh" (click)="autoGeneratePassword()"> <img src="assets/img/captcha.jpg" width="35" height="35"></a>

                        </div>

                        <br>

                        <hr>
                    </div>
                    <div class="row form-footer">
                        <br>
                        <div class="col-xs-6">
                            <a class="btn btn-danger col-xs-12" (click)="Back()">{{ 'cancel' | translate | capitalize
                                }}</a>
                        </div>
                        <div class="col-xs-6">


                            <button class="btn btn-primary col-xs-12" type='submit' [disabled]="!isSelectedHouse">{{ 'save' | translate | capitalize }}</button>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



